.PageContent p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 30px; 
}

.Greeting{
    font-size: 40px;
    font-weight: bold;
}

.PageContent{
    width: 60%;
    margin: auto;
}

img{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}