p{
    font-family: Arial, Helvetica, sans-serif;
}

.Exit{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.Exit:hover{
    color: #555555;
}


.Title{
    font-weight: bold;
    font-size: 34px;
    text-align: center;
}

.FirstName, .LastName, .Phone{
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
}
  
.FirstName::placeholder, .LastName::placeholder, .Phone::placeholder {
    color: #555555;
}

.UpdateButton{
    font-family: Arial, sans-serif;
    border-radius: 50px;
    width: 100%;
    height: 60px;
    font-size: 18px;
    text-align: center;
    display: block;
    background-color: black;
    color: white;
    border-color: transparent;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.UpdateButton:hover{
    background-color: rgb(66,66,66);
}

.Email{
    font-size: 24px;
    font-weight: bold;
}

img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    top: 8px;
}
