<html>
<head></head>
<body>
    <app-nav-bar></app-nav-bar>
    <div class="PageContent">
        <img src="../assets/logo.png">
        <p>Добре дошли в нашата страница за Политика за поверителност. В тази страница ще Ви предоставим информация за това как събираме, използваме и защитаваме личната Ви информация в процеса на ползване на нашият онлайн магазин за обувки.</p>
        <hr>
        <p class="Question">
            Каква информация събираме от Вас?
        </p>
        <p class="Answer">
            Ние можем да събираме лична информация като име, адрес за доставка, електронна поща и телефонен номер. Също така можем да събираме информация относно Вашите предпочитания за продукти, история на покупките и други детайли за вашето поведение на сайта.
        </p>
        <hr>
        <p class="Question">
            За какви цели използваме тази информация?
        </p>
        <p class="Answer">
            Използваме личната Ви информация за обработка на поръчките Ви, за да Ви предоставим персонализирана поддръжка и за да се свържем с Вас по въпроси относно Вашите поръчки или въпроси свързани с магазина.
        </p>
        <hr>
        <p class="Question">
            С кого споделяме тази информация?
        </p>
        <p class="Answer">
            Ние никога не продаваме, не споделяме и не разкриваме Вашата лична информация на трети страни, освен ако това не е необходимо за обработка на поръчката Ви или ако е задължително по закон.
        </p>
        <hr>
        <p class="Question">
            Как се защитава Вашата информация?
        </p>
        <p class="Answer">
            Ние предприемаме всички необходими мерки за да защитим Вашата лична информация от неправомерен достъп, употреба или разкриване. Използваме сигурни методи за съхранение на данните, като например шифроване на информацията и сигурност на мрежовите връзки.
        </p>
        <hr>
        <p class="Question">
            Как можете да контролирате информацията, която споделяте с нас?
        </p>
        <p class="Answer">
            Aко искате да промените или изтриете личната си информация, моля свържете се с нас чрез нашият контактен формуляр на сайта или чрез електронната ни поща.
        </p>
        <hr>
        <p>Благодарим Ви, че посетихте нашият онлайн магазин за обувки и надяваме се, че тази страница за Политика за поверителност Ви е дала ясна представа за това как обработваме Вашата информация.</p>
    </div>

    <app-footer-bar></app-footer-bar>
</body>
</html>