<html>
<head></head>
<body>
    <app-nav-bar></app-nav-bar>
    <br><br><br>
    <div class="BuyShoe">
        <div class="ShoeImage">
            <img src="{{shoe?.getPicturePath()}}">
        </div>

        <div class="ShoeDescription">
            <p class="ShoeName">{{shoe?.getName()}}</p>
            <p class="ShoeGender">{{shoe?.getGenderDescription()}}</p>
            <p class="ShoePrice">${{shoe?.getPrice()}}</p>
            <p class="SelectSize">Изберете размер:</p>
            <p class="SizeButtons"><app-size-buttons [shoe]="shoe"></app-size-buttons></p>
        </div>
    </div>

</body>
</html>