<html>
<head></head>
<body>
    <app-nav-bar></app-nav-bar>
    <div class="ContactsContainer">
        <img src="../../assets/logo.png" class="Logo">
        <div class="SocialMedia">
            <img src="../../assets/facebookLogo.png" (click)="navigateTo('facebook.com')">
            <img src="../../assets/twitterLogo.png" (click)="navigateTo('twitter.com')">
            <img src="../../assets/instagramLogo.png" (click)="navigateTo('instagram.com')">
        </div>
        <div class="PhoneAndEmail">
            <p><img src="../../assets/phoneIcon.jpg">088 865 3500</p>
            <p><img src="../../assets/emailIcon.png">zit96003@gmail.com</p>
        </div>
    </div>
    <br>
    <app-footer-bar></app-footer-bar>
</body>
</html>
