.NavBar{
    position: fixed;/*fixed, sticky, relative ???*/
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    background-color: #e0e0e0;
    color: #000000;
    display: flex;

    padding: 0%;
    align-items: center;
    height: 56px;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;

    flex-wrap: wrap;
    justify-content: center;
    margin: none;
    list-style: none;

    z-index: 999;
}

.NavBar ul {
    position: inherit;/*fixed, sticky*/
    top: inherit;
    left: inherit;
    right: inherit;

    width: inherit;
    background-color: inherit;
    color: inherit;
    display: inherit;
    padding: inherit;
    align-items: inherit;
    height: inherit;
    font: inherit;

    flex-wrap: inherit;
    justify-content: inherit;
    margin: inherit;
    list-style: inherit;
}
  
.NavBar li{
    padding: 1%;
    transition: 200ms;
    color: black;
}

.NavBar li:hover{
    background-color: black;
    color: white;
}

a{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.NavBarCart{
    position: absolute;
    bottom: 0%;
    left: 95%;
    float: right;
    width: 4vw;
    height: 4vw;
}

.ItemsInCartNumber{
    position: absolute;
    left: 93%;
    float: right;
    width: 4vw;
    height: 4vw;
}

.ProfileButton{
    z-index: 1000;
    position: absolute;
    float: right;
    left: 10px;
    font-family: Arial, sans-serif;
    border-radius: 50px;
    width: 10%;
    height: 40px;
    font-size: 16px;
    text-align: center;
    display: block;
    background-color: black;
    color: white;
    border-color: transparent;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
}

button:hover{
    background-color: rgb(66,66,66);
}