<html>
<head></head>
<body>
    <app-nav-bar></app-nav-bar>
    <app-notification #notification></app-notification>
    <br><br><br>
    <div class="BuyShoe">
        <div class="ShoeImage">
            <img src="{{shoe?.PicturePath}}">
        </div>

        <div class="ShoeDescription">
            <p class="ShoeName">{{shoe?.Name}}</p>
            <p class="ShoeGender">{{shoe?.getGenderDescription()}}</p>
            <p class="ShoePrice">{{shoe?.Price}} лв.</p>
            <p class="SelectSize">Изберете размер:</p>
            <p class="SizeButtons"><app-size-buttons [notification]="notification" [shoe]="shoe"></app-size-buttons></p>
        </div>
    </div>
    <app-footer-bar></app-footer-bar>
</body>
</html>