<html>
<head></head>
<body>
    <app-nav-bar></app-nav-bar>
    <img src="../assets/logo.png">
    <div class="PageContent">
    <p>
        Добре дошли в раздела с Често задавани въпроси на нашият онлайн магазин за обувки. Тук ще отговорим на най-често задаваните въпроси от нашите клиенти.
    </p>
    <br>

    <p class="Question">
        Каква е политиката на връщане и замяна на продукти?
    </p>
    <p class="Answer">
        Ние предлагаме безплатно връщане на всички поръчки в рамките на 14 дни от получаването им. Ако искате да замените продукт, моля свържете се с нас за да уредим подходяща замяна.
    </p>

    <p class="Question">
        Колко време ще отнеме да получа своята поръчка?
    </p>
    <p class="Answer">
        След като поръчката Ви бъде потвърдена, обикновено я изпращаме в рамките на 1-2 работни дни. Времето за доставка обикновено е от 2 до 5 работни дни в зависимост от Вашата локация.
    </p>

    <p class="Question">
        Как мога да се свържа с Вас, ако имам проблем с поръчката си?
    </p>
    <p class="Answer">
        Можете да се свържете с нас чрез електронната ни поща. Нашите служители по обслужване на клиенти ще се свържат с Вас възможно най-скоро.
    </p>

    <p class="Question">
        Как мога да платя за моята поръчка?
    </p>
    <p class="Answer">
        Предлагаме различни начини на плащане, включително кредитна карта, PayPal и банков превод. Моля, изберете предпочитания от Вас начин на плащане при оформянето на поръчката.
    </p>

    <p>
        Надяваме се, че това е отговорило на въпросите Ви. Ако имате други въпроси, моля, не се колебайте да се свържете с нас. Благодарим Ви, че посетихте нашия онлайн магазин за обувки. 
    </p>
    <br>

    </div>

    <app-footer-bar></app-footer-bar></body>
</html>